<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Alatau.Properties.Settings.RestoranConnectionString"
            connectionString="Data Source=DESKTOP-78G7HDS;Initial Catalog=Restoran;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Alatau.Properties.Settings.RestoranAlatauConnectionString"
            connectionString="Data Source=DESKTOP-78G7HDS;Initial Catalog=RestoranAlatau;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>